
.osh-title{
    font-size: 3rem;
    font-weight: 400;
  }

 .row {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

 .oshnode-btn{
    color: #000;
    background-color: transparent;
    border-width: 1px;
    border-radius: 50px;
    border-color: #d1d1d1;
    border: 1px solid #d1d1d1;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-weight: bold;
    font-size: 16px;
  }

.oshnode-btn:hover{
    background-color: #d1d1d1;
    text-decoration: none;
  }

  .oshconnect-btn-dark{
    color: #fff;
    background-color: #f17f44;
    padding: 15px 32px;
    border-radius: 50px;
    border: none;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-weight: bold;

  }

  .oshconnect-btn-dark:hover{
    background-color: #d9723d;
    color: #fff;
    text-decoration: none;
  }